.quote {
    font-style: italic;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px #89de9b)
}

.future-plans {
    margin-top: 30px;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photo-gallery img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin: 0 10px;
}

body {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
    cursor: url('cur.png'),auto;
  }

.countdown-container {
    text-align: center;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time-block {
    margin: 0 15px;
}

.time-block span {
    display: block;
    font-size: 48px;
}

.label {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}



img {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
             mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) { 
  img {
   --_m:
     radial-gradient(at 70% 31%,#000 29%,#0000 30%),
     radial-gradient(at 30% 31%,#000 29%,#0000 30%),
     linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
   -webkit-mask: var(--_m);
           mask: var(--_m);
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 30px;
 
 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

 
 

/* .flying{
    cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
  }
  */


  .splide__slide img {
    width: 100%;
    height: auto;
  }

  ul{
    width: 20%;
    padding-left: 40%;
  }